# Node.js dependencies
node_modules/
package-lock.json

# Build files
build/

# Compiled TypeScript files
*.js
*.js.map

# GitHub Actions workflow temp files
.github/workflows/*.log

# Editors
.vscode/
.idea/