html, body, div, p {
	padding: 0;
	margin: 0;
	border: 0;
}

html, body {
	height: 100%;
	width: 100%;

	box-sizing: border-box;

	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}

body {
	display: flex;
	justify-content: center;

	padding: 0.5rem 0.25rem;

	background: center / cover url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F830%2F700%2Foriginal%2Ffuturistic-flowing-grid-with-bokeh-lights-vector.jpg&f=1&nofb=1&ipt=c3b92a1f590344faf3900637565bdb740b34b371b1978b0f115baab42ef116ef&ipo=images);
}

section {
	margin: 0 0.25rem;

	border-radius: 0.5rem;
}

.left,
.right {
	display: flex;
	flex-direction: column;
}

.info-chart {
	position: relative;
	z-index: 0;

	border-radius: 1rem;

	display: flex;
	flex-direction: column;

	width: 15rem;
	height: 15rem;

	margin-bottom: 4rem;
}

.info-chart::after {
	content: '';

	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -2;

	border-radius: 1rem;

	background: black;

	opacity: 0.6;
}

.info-chart::before {
	content: '';

	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;

	border-radius: 1rem;

	background: white;

	clip-path: polygon(evenodd,
	0 0,
	100% 0,
	100% 100%,
	0% 100%,
	0 0,
	0.5rem 3.5rem,
	14.5rem 3.5rem,
	14.5rem 14.5rem,
	0.5rem 14.5rem,
	0.5rem 3.5rem
	);
}

.info-text {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;

	padding: 0.5rem 0;

	font-size: 1.5rem;
}

.info-content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 0.25rem 0.25rem;

	border-radius: 0.5rem;
	border: 0.5rem solid white;

	color: white;
	font-size: 6rem;
}

.center {
	min-width: 50vh;

	margin-inline: 2rem;
	padding: 1rem;

	background: #8080FF;
}

#game-table {
	width: 100%;
	height: 100%;

	display: grid;
	grid: repeat(20, 1fr) / repeat(10, 1fr);
	row-gap: 0.16rem;
	column-gap: 0.16rem;

	box-sizing: border-box;

	padding: 0.16rem;

	background: #000D4D;

	border-radius: 0.2rem;
}

.grid-square {
	width: 100%;
	height: 100%;

	border-radius: 0.2rem;

	box-sizing: border-box;
}

.grid-square.colored {
	--color: transparent;
	background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)) var(--color);
}

.mark {
	border: 1px solid white;
}
